@font-face {
  src:url('fonts/MeieScript-Regular.ttf');
  font-family: 'MeieScript',cursive;
  /* src:url('fonts/MeieScript-Regular.ttf');
  font-family:'MeieScript',cursive; */
}
.jumbotron{
  background-color:rgba(255, 0, 0, 0.5);
  text-align: center;
  font-family:'MeieScript',cursive;
  font-weight: 700;
  font-size: 100px;
}
h2{
  font-family:'MeieScript',cursive;
}
.topping1 select{
  font-weight: bolder;
  background: #05639f;
  padding:10px;
  width:250px;
  height:50px;
  border:none;
  font-size:20px;
  box-shadow:0 5px 25px rgba(0,0,0,.5)
  -webkit-appearance:button;

}
